body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}

main {
    max-width: 900px;
    margin: auto;
}

:root {
    --bg: #0f172a;
    /* azul escuro */
    --card: #1e293b;
    /* cinza azulado */
    --primary: #38bdf8;
    /* azul neon */
    --text: #e2e8f0;
    /* branco suave */
}

h2 {
    padding: 20px;
    border-radius: 12px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#menu ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
}

#menu a:hover {
    color: var(--primary);
    transform: translateY(-2px);
}

#menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: var(--primary);
    transition: width 0.3s ease;
}

#menu a:hover::after {
    width: 100%;
}

#footer a {
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
}

#footer a:hover {
    color: var(--primary);
    transform: translateY(-2px);
}

#footer a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: var(--primary);
    transition: width 0.3s ease;
}

#footer a:hover::after {
    width: 100%;
}

.github_avatar {
    width: 150px;
    border-radius: 50%;
    border: 3px solid var(--primary);
}

h1,
h2 {
    margin-bottom: 10px;
}

h3 {
    color: #38bdf8;
}

.projeto-box {
    background: var(--card);
    padding: 18px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.projeto-box:hover {
    transform: translateY(-5px);
}

.projeto-box h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.projeto-box p {
    font-size: 14px;
    margin-bottom: 8px;
}

.projeto-box i {
    color: var(--primary);
}

.habilidade-box {
    background: var(--card);
    padding: 18px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.habilidade-box:hover {
    transform: translateY(-5px);
}

.habilidade-box h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.habilidade-box p {
    font-size: 14px;
    margin-bottom: 8px;
}

.habilidade-box i {
    color: var(--primary);
}

#titulo {
    text-align: center;
    font-size: 20px;
    color: #7dd3fc;
}

section {
    margin: 5px;
}

#subtitulo {
    text-align: center;
    font-size: 20px;
    color: #bae6fd;
}

#menu {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.sobre_texto {
    display: flex;
    align-items: center;
    gap: 20px;
}

#footer {
    text-align: center;
    font-size: 12px;
}